h1{
    color:green;
 
}
h2{
    color: aqua;
    background-color: blueviolet;
    display:inline;
    
}
#cirle{
    margin:5px 100px ;
}

.sad-person{
    width:300px;
  margin: 50px 30px 20px;
 

}
.border{
    border: 1px solid red;
    width: 300px;
    color: brown;
 
}
#border-dash{
    border: 3px dashed green ;
    border-radius: 10px;
    width: 50%;

}
form{
    width: 500px;
    margin-bottom:50px;
}
footer{
    background-color: black;
    border: 2px solid;
    color: white;
    text-align: center;

}